<server description="Query Service">

  <featureManager>
    <platform>jakartaee-10.0</platform>
    <platform>microprofile-7.0</platform>
    <feature>restfulWS</feature>
    <feature>cdi</feature>
    <feature>jsonb</feature>
    <feature>mpConfig</feature>
    <feature>mpOpenAPI</feature>
  </featureManager>

  <variable name="http.port" defaultValue="9084"/>
  <variable name="https.port" defaultValue="9447"/>
  <!-- tag::url[] -->
  <variable name="graphql.server" defaultValue="http://graphql:9082/graphql"/>
  <!-- end::url[] -->
  
  <httpEndpoint host="*" httpPort="${http.port}"
      httpsPort="${https.port}" id="defaultHttpEndpoint"/>

  <webApplication location="guide-graphql-client-query.war" contextRoot="/"/>
</server>
